.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app h1 {
  font-weight: 400;
  background-color: #888;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.app p {
  color: #666;
  padding: 5px 10px;
  margin: 5px;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 25px;
}

.buttons button {
  font-size: 20px;
  margin: 0 10px;
  padding: 5px 10px;
}
.buttons button:hover {
  cursor: pointer;
}
